.tm-re-submission-form {
	span.error {
		font-size: .75rem;
	}
	&.processing {
		* {
			cursor: wait;
		}
	}
}

/* Uploader */
.tm-re-uploaded {
	&-images {
		&__item {
		}
	}
	&-image {
		&__remove {
			display: inline-block;
			vertical-align: top;
			&:before {
				content: '\00D7';
			}
		}
	}
}