#cherry-re-property-data .cherry-ui-container,
#cherry-re-location .cherry-ui-container {
	margin: 0;
}

.cherry-re-location-place__map-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 350px;
}

.cherry-re-location-place__input {
	font-size: 14px;
	box-sizing: border-box;
	width: 350px;
	height: 30px;
	margin-top: 10px;
	padding: 5px 15px;
	text-overflow: ellipsis;
	border: 1px solid transparent;
	border-radius: 2px;
	outline: none;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.cherry-re-location-place__info[readonly] {
	font-size: 14px;
	overflow: hidden;
	box-sizing: border-box;
	width: 240px;
	height: 30px;
	margin-top: 10px;
	margin-right: 10px;
	padding: 5px 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #b2b3b5;
	border: 1px solid transparent;
	border-radius: 2px;
	outline: none;
	background-color: #f9f9f9;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.cherry-re-location-place__fieldset {
	display: flex;
	margin: 1em 0;

	flex-wrap: wrap;
}

.cherry-re-location-place__field-label {
	font-weight: bold;
	display: block;
}

.cherry-re-location-place__field {
	margin-top: 1em;
	&--lat,
	&--lng {
		margin-right: 10px;
	}
	&--formatted-address {
		flex: 0 0 100%;
	}
}

.cherry-re-location-place__field--formatted-address .cherry-ui-text {
	width: 100%;
}