#_tm_property_agent_contacts,
#_tm_property_agent_socials {
	.icon-wrap,
	.label-wrap,
	.value-wrap {
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
	}
	.icon-wrap {
		width: 18%;
	}
	.label-wrap,
	.value-wrap {
		width: 41%;
		padding: 0 0 0 10px
	}
	.cherry-ui-iconpicker-group {
		max-width: inherit;
	}
}