@mixin button_base() {
	font-size: 13px;
	font-weight: 900;
	line-height: 1.4;
	display: inline-block;
	height: auto;
	margin-right: 20px;
	padding: 16px 30px;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 13px rgba(0,0,0,0.2);
}

.cherry-settings-page {
	p.submit {
		display: inline-block;
		max-width: inherit;
		margin: 0;
		padding: 0;
		vertical-align: top;
	}
	.button-reset {
		@include button_base;
		background-color: #495159;
		&:hover {
			background-color: #282D31;
		}
	}
	input[type='text'],
	input[type='number'],
	select,
	textarea {
		background-color: white;
	}
}

.wp-core-ui {
	.cherry-settings-page {
		.button-primary {
			@include button_base;
			background-color: #48c569;
			text-shadow: none;
			&:active {
				transform: none;
			}
			&:hover {
				background-color: #3ba956;
			}
		}
	}
}