@mixin button_base() {
	display: inline-block;

	height: auto;
	margin-right: 20px;
	padding: 16px 30px;

	font-size: 13px;
	font-weight: 900;
	line-height: 1.4;

	cursor: pointer;
	text-transform: uppercase;

	color: #fff;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 13px rgba(0,0,0,.2);
}

.cherry-settings-page {
	p.submit {
		display: inline-block;

		max-width: inherit;
		margin: 0;
		padding: 0;

		vertical-align: top;
	}
	.button-reset {
		background-color: #495159;

		@include button_base;
		&:hover {
			background-color: #282d31;
		}
	}
	input[type='text'],
	input[type='number'],
	select,
	textarea {
		background-color: white;
	}
}

.wp-core-ui {
	.cherry-settings-page {
		.button-primary {
			background-color: #48c569;
			text-shadow: none;

			@include button_base;
			&:active {
				transform: none;
			}
			&:hover {
				background-color: #3ba956;
			}
		}
	}
}
