// Single gallery
.tm-property-gallery {
	&__item {}
	&__thumbs-item {
		width: 18%;
		opacity: 0.4;

		&.swiper-slide-active {
			opacity: 1;
		}
	}
	&--top {}
	&--thumbs {
		padding: $gap-size / 4 0;
		box-sizing: border-box;
	}
}