// Single gallery
.tm-property-gallery {
	&__item {}
	&--top {}
	&--thumbs {
		padding: $gap-size / 4 0;
		box-sizing: border-box;
	}
	&__thumbs {
		&-item {
			width: 18%;
			opacity: 0.4;
			cursor: pointer;
			transition: 333ms opacity;

			&.swiper-slide-active,
			&:hover {
				opacity: 1;
			}
		}
	}
}