// Popup
.tm-re-auth-popup {
	position: relative;
	max-width: 500px;
	margin: 40px auto;
	padding: 20px 30px;
	text-align: left;
	background: #fff;
}


.tm-re-auth-popup.ui-tabs {
	.tm-re-tabs__nav.ui-tabs-nav {
		padding: 0;
		margin: 0;
		list-style-type: none;

		&:after {
			content: '';
			width: 100%;
			display: block;
			clear: both;
		}
		li {
			margin: 0;
			width: 50%;
			float: left;
			text-align: center;

			&:not(:first-child) {
				border-left: none;
			}
			a {
				float: none;
				display: block;
				outline: none;
				padding: .5em 1em;
			}
			&.ui-tabs-active  {
				margin-bottom: 0;
				padding-bottom: 0;
				background: none;
				border-bottom-color: transparent;
			}
		}
	}
	.ui-tabs-panel {
		padding: 0;
	}
	.tm-re-login-form,
	.tm-re-register-form {
		.tm-re-login-form__group,
		.tm-re-register-form__group {
			position: relative;

			&:not(:first-child) {
				margin-top: 20px;
			}
			.tm-re-login-form__btn,
			.tm-re-register-form__btn {
				margin-top: 20px;
				display: block;
				width: 100%;
			}
			span.error {
				position: absolute;
				top: 0;
				right: 18px;
				line-height: 50px;
				font-size: .75em;
			}
			input.error {
				padding-right: 150px;
			}
		}
	}
	.tm-re-login-form__messages,
	.tm-re-register-form__messages {
		margin-top: 20px;
		text-align: center;
	}
}
/*
====== Zoom effect ======
*/
.tm-re-mfp-zoom-in {
	/* start state */
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}

	/* animate out */
	&.mfp-removing {
		.mfp-with-anim {
			transform: scale(0.8);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
	}
}

/*
====== Move-from-top effect ======
*/
.tm-re-mfp-move-from-top {
	.mfp-content {
		vertical-align:top;
	}
	/* start state */
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.2s;
		transform: translateY(-100px);
	}
	&.mfp-bg {
		opacity: 0;
		transition: all 0.2s;
	}
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: translateY(0);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	/* animate out */
	&.mfp-removing {
		.mfp-with-anim {
			transform: translateY(-50px);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
	}
}