.tm-property-related__wrap .tm-property__image {
	background-color: #f1f1f1;
	text-align: center;
}

@media (min-width: $tablet-width) {
	.tm-property__wrap.tm-property-related__wrap {
		display: flex;
		// margin-right: 0;
		// margin-left: 0;

		flex-wrap: wrap;
		justify-content: space-between;
	}

	.tm-property__wrap.tm-property-related__wrap .tm-property__item {
		margin: 0 0 20px;
		// padding-right: 0;
		// padding-left: 0;

		flex: 0 0 calc(50% - 30px);
	}
}

@media (min-width: $desktop-width) {
	.tm-property__wrap.tm-property-related__wrap .tm-property__item {
		flex: 0 0 calc(25% - 20px);
	}
}