%%AGENT_PHOTO wrap="div" class="tm-agent__photo"%%
<div class="tm-agent__content">
	%%AGENT_NAME wrap="h5" class="tm-agent__name" link="true"%%
	%%AGENT_DESC wrap="div" class="tm-agent__desc"%%
	%%AGENT_CONTACTS wrap="div" class="tm-agent__contacts"%%
	%%AGENT_SOCIALS wrap="div" class="tm-agent__socials"%%
	%%AGENT_MORE class="tm-agent__more"%%
</div>