%%PROPERTY_STATUS wrap="span" class="tm-property__status"%%
%%PROPERTY_IMAGE wrap="figure" class="tm-property__image"%%
%%PROPERTY_AREA wrap="span" class="tm-property__area"%%
%%PROPERTY_BEDROOMS wrap="span" class="tm-property__bedrooms"%%
%%PROPERTY_BATHROOMS wrap="span" class="tm-property__bathrooms"%%
%%PROPERTY_TITLE wrap="h5" class="tm-property__title" link="true"%%
%%PROPERTY_PRICE wrap="div" class="tm-property__price"%%
%%PROPERTY_EXCERPT class="tm-property__excerpt"%%
%%PROPERTY_LOCATION wrap="div" class="tm-property__location"%%
%%PROPERTY_MORE class="tm-property__more"%%