%%PROPERTY_IMAGE wrap="figure" class="tm-property-info__image"%%
%%PROPERTY_TITLE wrap="h5" class="tm-property-info__title" link="true"%%
%%PROPERTY_PRICE wrap="div" class="tm-property-info__price"%%
%%PROPERTY_AREA wrap="span" class="tm-property-info__area"%%
%%PROPERTY_BEDROOMS wrap="span" class="tm-property-info__bedrooms"%%
%%PROPERTY_BATHROOMS wrap="span" class="tm-property-info__bathrooms"%%