%%PROPERTY_IMAGE wrap="figure" class="tm-property-related__image"%%
<div class="tm-property-related__content-wrap">
	%%PROPERTY_PRICE wrap="div" class="tm-property__price tm-property__price--related"%%
	%%PROPERTY_LOCATION wrap="div" class="tm-property__location tm-property__location--related"%%
</div>