<div class="tm-property__photo">
	%%PROPERTY_IMAGE wrap="figure" class="tm-property__image"%%
</div>
<div class="tm-property__content">
	<div class="tm-property__attributes">
		%%PROPERTY_AREA wrap="span" class="small tm-property__attributes-area"%%
		%%PROPERTY_BEDROOMS wrap="span" class="small tm-property__attributes-bedrooms"%%
		%%PROPERTY_BATHROOMS wrap="span" class="small tm-property__attributes-bathrooms"%%
	</div>
	%%PROPERTY_TITLE wrap="h5" class="tm-property__title" link="true"%%
	%%PROPERTY_PRICE wrap="div" class="tm-property__price tm-property-related__price"%%
	%%PROPERTY_EXCERPT class="tm-property__excerpt"%%
	%%PROPERTY_LOCATION wrap="div" class="small tm-property__location"%%
	%%PROPERTY_MORE class="tm-property__more"%%
</div>